<article class="heading-section">
  <h1 class="title">Todos</h1>
</article>

<article class="container">
  <div class="add-todo-box">
    <form>
      <h2 class="title is-5 has-text-centered">New Todo</h2>
      <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="input" type="text" placeholder="type todo text here...">
        </p>
        <p class="control">
          <a class="button is-info">
            <i class="fa-solid fa-plus"></i>
            Add
          </a>
        </p>
      </div>
    </form>
  </div>
</article>

<div class="todos-list">
  <div class="todo-item">
    <div class="check-box">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="todo-text">
      This is a placeholder for the todo text!
    </div>
  </div>
</div>
